.bonadocs {
  &__editor {
    &__sidebar {
      width: 15%;
      padding: 1.6rem 2.4rem;
      max-width: 30rem;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1500px) {
        width: 16%;
      }
      @media screen and (max-width: 900px) {
        display: none;
      }
      &__logo {
        margin-bottom: 4rem;
      }
      &__item {
        display: flex;
        color: var(--bonadocsText);
        gap: 1rem;
        font-size: 1.6rem;
        padding: 0.8rem;
        cursor: pointer;
      }
      &__options {
        margin-top: auto;
        margin-bottom: 10rem;
      }
      &__simulation {
        display: flex;
        align-items: center;
        height: min-content;
        gap: 0.8rem;
        font-size: 1.4rem;
        border-radius: 10rem;
        /* max-width: 250px; */
        padding: 1rem;
        position: relative;
        background: linear-gradient(to right, #8748ee, #9d1770);
        padding: 1px;
        width: fit-content;
        &__inner {
          width: 100%;
          gap: 1rem;
          &__active {
            background: linear-gradient(to right, #8748ee, #9d1770);
          }
        }
        &__title {
          color: white;
        }
      }
    }
    &__method {
      display: flex;
      width: 100%;
      &__params {
        font-size: 1.3rem;
        &__item {
          margin-top: 1rem;
        }
        &__name {
          color: var(--bonadocsSecondaryText);
          font-size: 1.3rem;
          margin-top: 0.8rem;
        }
        &__input {
          width: 100%;
        }
        &__button {
          margin-left: auto;
          font-size: 1.3rem;
          align-items: center;
          cursor: pointer;
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }
}

// .border-gradient {
//   border: 10px solid;
//   border-image-slice: 1;
//   border-width: 1px;
//   border-radius: 10rem;
// }
// .border-gradient-purple {
//   border-image-source: linear-gradient(
//     to top left,
//     #ff75c3,
//     #ffa647,
//     #ffe83f,
//     #9fff5b,
//     #70e2ff,
//     #cd93ff
//   );
//   border-radius: 10rem !important;
// }
