.bonadocs {
  &__editor {
    &__sidebar {
      width: 15%;
      padding: 1.6rem 2.4rem;
      max-width: 30rem;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1500px) {
        width: 16%;
      }
      @media screen and (max-width: 900px) {
        display: none;
      }
      &__logo {
        margin-bottom: 4rem;
      }
      &__item {
        display: flex;
        color: var(--bonadocsText);
        gap: 1rem;
        font-size: 1.6rem;
        padding: 0.8rem;
        cursor: pointer;
      }
      &__options {
        margin-top: auto;
        margin-bottom: 10rem;
      }
      &__simulation {
        display: flex;
        align-items: center;
        height: min-content;
        gap: 0.8rem;
        font-size: 1.4rem;
        padding: 0.8rem;
        &__title {
          color: white;
        }
      }
    }
    &__method {
      display: flex;
      width: 100%;
      &__params {
        font-size: 1.3rem;
        &__item {
          margin-top: 1rem;
        }
        &__name {
          color: var(--bonadocsSecondaryText);
          font-size: 1.3rem;
          margin-top: 0.8rem;
        }
        &__input {
          width: 100%;
        }
        &__button {
          margin-left: auto;
          font-size: 1.3rem;
          align-items: center;
          cursor: pointer;
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }
}
