.bonadocs {
  &__editor {
    &__dashboard {
      &__playground {
        display: flex;
        background-color: var(--bonadocsEditorBackground);
        border-radius: 0.8rem;
        position: relative;
        height: 82vh;

        // overflow-y: auto;
        @media screen and (max-height: 700px) {
          height: 100rem;
        }
        @media screen and (min-height: 950px) {
          height: 86vh;
        }
        @media screen and (min-height: 1200px) {
          height: 89vh;
        }

        &__contract {
          display: flex;
          flex-direction: column;
          width: 18%;
          height: 100%;
          border-right: 1px solid var(--bonadocsEditorBorder);
          &__header {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.8rem;
            height: 4rem;
            border-bottom: 1px solid var(--bonadocsEditorBorder);
            // @media screen and (max-width: 1400px) {
            //   height: 8%;
            // }
            &__title {
              font-size: 1.4rem;
              font-weight: 600;
              color: var(--bonadocsSecondaryText);
              line-height: 2.4rem;
            }
            &__addIcon {
              margin-left: auto;
            }
          }
          &__type {
            color: var(--bonadocsText);
            &__container {
              background-color: var(--bonadocsBackground);
              margin: 0.8rem 0.4rem;
              border-radius: 10rem;
              display: flex;
              padding: 0.4rem;
              &__item {
                border-radius: 10rem;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                width: 50%;
                font-size: 1.4rem;
                display: inline-flex;
                padding: 0.4rem;
              }
            }
          }
          &__list {
            // overflow-y: auto;
            // max-height: 58rem;
            flex-grow: 1;
            height: auto;
            overflow-y: auto;
            // @media screen and (min-height: 950px) {
            //   max-height: 82rem;
            // }
            // @media screen and (max-height: 700px) {
            //   max-height: 89rem;
            // }
            // @media screen and (min-height: 1100px) {
            //   max-height: 97rem;
            // }
            // @media screen and (min-height: 1200px) {
            //   max-height: 107rem;
            // }
          }
        }
        &__method {
          width: 45%;
          border-right: 1px solid var(--bonadocsEditorBorder);
          display: flex;
          flex-direction: column;
          &__header {
            display: flex;
            align-items: center;
            padding: 0.8rem;
            height: 4rem;
            border-bottom: 1px solid var(--bonadocsEditorBorder);
            &__title {
              font-size: 1.4rem;
              font-weight: 600;
              color: var(--bonadocsSecondaryText);
              line-height: 2.4rem;
            }
            &__icon {
              margin-left: auto;
            }
          }
          &__view {
            padding: 0 1.6rem;
            flex: 1;
            overflow-y: auto;
            display: flex;
            z-index: 2;
            &__params {
              padding: 1.6rem 0;
            }
            &__markdown {
              background-color: transparent;
              color: var(--bonadocsText);
              width: 100%;
              height: 100%;
              font-size: 1.4rem;
              line-height: 3rem;
              resize: none;
              overflow-x: hidden;
            }
            &__preview {
              color: var(--bonadocsText);
              width: 100%;
              height: 100%;
              font-size: 1.4rem;
              overflow-x: hidden;
              * {
                padding: 0.3rem;
              }
            }
          }
          &__controlbar {
            background-color: var(--bonadocsBackground);
            display: flex;
            padding-top: 0.8rem;
            font-size: 1.3rem;

            &__item {
              padding: 1.2rem 4rem 0.4rem 4rem;
            }
          }
        }
        &__result {
          width: 37%;
          display: flex;
          flex-direction: column;
          &__docs {
            flex: 1;
            overflow-y: auto;
            &__title {
              font-size: 2rem;
              font-weight: 700;
              color: var(--bonadocsSecondaryText);
              line-height: 2.4rem;
              padding: 0.8rem;
            }
            &__content {
              padding: 0.8rem;
              line-height: 2.4rem;
              font-size: 1.4rem;
            }
          }
          &__header {
            display: flex;
            align-items: center;
            padding: 0.8rem;
            height: 4rem;
            border-bottom: 1px solid var(--bonadocsEditorBorder);
            &__title {
              font-size: 1.4rem;
              font-weight: 600;
              color: var(--bonadocsSecondaryText);
              line-height: 2.4rem;
            }
            &__icon {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
